{% extends 'base.html.twig' %}

{% block title %}Bienvenue au gîte{% endblock %}

{% block body %}
	{% include "components/_navbar.html.twig" %}
	<div class="container-fluid p-0 overflow-hidden">
		<div class="row pb-5 m-0">
			<div class="col-8 offset-2 text-light mt-3 text-center" id="home">
				<h1 class="text-secondary" style="font-family: 'Cinzel Decorative', cursive;">
					<span class="display-2">D</span>evOps, tout simplement
				</h1>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	
{% endblock %}