{% extends '_layoutUser.html.twig' %}

{% block title %}Administrateur
{% endblock %}

{% block content %}
	<div class="row row-cols-1 row-cols-md-3 g-4 m-4">
		<div class="col">
			<div class="card col-2 m-3 bg-secondary text-light text-center" style="width:20rem;">
				<div class="card-header">
					Nombres d'utilisateurs
				</div>
				<div class="card-body">
					<div class="media d-flex justify-content-center">
						<div class="align-self-center m-2">
							<i class="material-icons text-light fw-bold">person</i>
						</div>
						<div class="media-body text-right m-2">
							<h3>{{ users|length }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card col-2 m-3 bg-secondary text-light text-center" style="width:20rem;">
				<div class="card-header">
					Nombres de réservation en attente
				</div>
				<div class="card-body">
					<div class="media d-flex justify-content-center">
						<div class="align-self-center m-2">
							<i class="material-icons text-light fw-bold">calendar_today</i>
						</div>
						<div class="media-body text-right m-2">
							<h3>{{ booking|length }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="col">
			<div class="card col-2 m-3 bg-secondary text-light text-center" style="width:20rem;">
				<div class="card-header">
					Nombres de réservation validée
				</div>
				<div class="card-body">
					<div class="media d-flex justify-content-center">
						<div class="align-self-center m-2">
							<i class="material-icons text-light fw-bold">event_available</i>
						</div>
						<div class="media-body text-right m-2">
							<h3>{{ booking|length }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
