{% extends '_layoutUser.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block content %}
    <h1 class="my-4 h1 text-center text-secondary">
        Réservation
    </h1>
    <div class="card bg-secondary text-light text-center border p-4">
        <div class="alert alert-info">
            Après validation de ce formualaire, les propriétaires vous contacterons afin de vous transmettre un
            devis complet.
            <span class="d-block mt-3">Délai d'attente moyen: 3 jours 2 heures 42 minutes et 12 secondes.</span>
            <span class="d-block">(Oui c'est précis et alors. Nous sommes en Suisse, on aime les montres.)</span>
        </div>
        {{ include('booking/_form.html.twig') }}
    </div>
{% endblock %}
