{% extends '_layoutUser.html.twig' %}

{% block content %}
    <div class="text-center mt-3">
        <h1 class="my-5 m-0 text-secondary">   
            Entre lac et montagne, venez découvrir notre havre de paix
        </h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/allée.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Allée
                    </h3>
                    <p class="card-text text-center">
                        Dans un cadre intimiste et chaleureux, vous pourrez rejoindre la maison  en toute discrétion.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/entrée.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Entrée
                    </h3>
                    <p class="card-text text-center">
                        Entrez dans un espace de calme et de repos.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/salon1.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Premier séjour
                    </h3>
                    <p class="card-text text-center">
                        Besoin de calme pour lire ou boire un thé, ce séjour est à votre disposition. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/salon2.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Second séjour
                    </h3>
                    <p class="card-text text-center m-2">
                        Fan de téléréalité, venez découvrir le dernier épisode des " ch'tis à l'Elysée ".
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/cuisine1.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Cuisine
                    </h3>
                    <p class="card-text text-center">
                        Pour les gourmands, cette cuisine sera parfait pour faire réchauffer vos plat Picard.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/chambre.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Première chambre
                    </h3>
                    <p class="card-text text-center">
                        Cette suite est composé d'un lit double, parfait pour dormir à deux.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/chambre1.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Seconde chambre 
                    </h3>
                    <p class="card-text text-center">
                        Voir la description de la première chambre
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/chambre2.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Troisième chambre
                    </h3>
                    <p class="card-text text-center">
                        Voir la description de la première chambre
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/chambre3.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Quatrième chambre
                    </h3>
                    <p class="card-text text-center">
                        Voir la description de la première chambre
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/salledebain.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Salle de bain
                    </h3>
                    <p class="card-text text-center">
                        Un petit bain après une grosse journée de développement web, 
                        cette salle de bain est faite pour vous.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/piscine.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Piscine extérieur
                    </h3>
                    <p class="card-text text-center">
                        Un petit Plouf en plein été.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/piscine1.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Piscine intérieur
                    </h3>
                    <p class="card-text text-center">
                        Un petit Plouf en plein hiver.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/bowling.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Bowling
                    </h3>
                    <p class="card-text text-center">
                        Quatre pistes de bowling sont à votre disposition.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/curling.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Curling
                    </h3>
                    <p class="card-text text-center">
                        Pour les fans de ménage, une piste de curling est aussi à votre disposition.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/cinema.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Salle de cinéma
                    </h3>
                    <p class="card-text text-center">
                        Comme au cinéma mais à la maison.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-secondary text-light p-3 m-2">
                <img src="build/images/salledejeux.jpg" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Salle de jeux video
                    </h3>
                    <p class="card-text text-center">
                        Avec du matériel dernier cri, vous pourrez vous évadez dans des univers imaginaires.
                    </p>
                </div>
            </div>
        </div>
{% endblock %}