{% extends '_layoutUser.html.twig' %}

{% block title %}Informations Utiles{% endblock %}

{% block content %}
    <div class="text-secondary text-center my-5">
        <h2>
            Informations Utiles
        </h2>
    </div>
    <div class="card shadow bg-light text-secondary p-3 mt-3">
        <h4 class="fw-bold">
            Fonctionnement du site
        </h4>
        <p>
            Après avoir selectionner les dates du séjour ainsi que le nombre de peronnes,
            vous serez recontacter par mail ou télépone afin de vous proposer un devis personnalisé.
            <span class="d-block">A savoir que si vous refusez ce devis, vous serez blacklisté et vous ne pourrez jamais venir
            dans notre établissement.</span>
        </p>
    </div>
    <div class="card shadow bg-light text-secondary p-3 mt-3">
        <h4 class="fw-bold">
            Nombre de personnes
        </h4>
        <p>
            Concernant le nombre de personnes, nous n'avons pas de maximum. Néanmoins, nous ne fournissons
            pas les matelas gonflables.
        </p>
    </div>
    <div class="card shadow bg-light text-secondary p-3 mt-3">
        <h4 class="fw-bold">
            Paiement
        </h4>
        <p>
            Pour le paiement, nous vous demandons l'intégralité en une seule fois. 
            <span class="d-block">Voilà, c'est tout.</span>
        </p>
    </div>
{% endblock %}