{% extends '_layoutUser.html.twig' %}

{% block title %}Informations Utiles{% endblock %}

{% block content %}
    <div class="text-secondary text-center my-5">
        <h2>
            Informations Utiles
        </h2>
    </div>
    <div class="card shadow bg-light text-secondary p-3 mt-3">
        <h4 class="fw-bold">
            Fonctionnement du site
        </h4>
        <p class="mt-3">
            Pour effectuer une location, vous devez sélectionner les dates d'arrivée et de départ ainsi
            que le nombre de personnes. Après avoir examiné votre demande, nous vous proposerons un devis
            personnalisé.
            <span class="d-block">A savoir que si vous refusez ce devis, vous serez blacklisté et 
            vous ne pourrez jamais venir dans notre établissement.</span>
        </p>
    </div>
    <div class="card shadow bg-light text-secondary p-3 mt-3">
        <h4 class="fw-bold">
            Nombre de personnes
        </h4>
        <p class="mt-3">
            Concernant le nombre de personnes, nous ne pouvons accueillir plus de (10+7-4+43-24)/2 personnes.
        </p>
    </div>
    <div class="card shadow bg-light text-secondary p-3 mt-3">
        <h4 class="fw-bold">
            Paiement
        </h4>
        <p class="mt-3">
            Pour le paiement, nous vous demandons l'intégralité de la somme, en liquide, lors de votre arrivée.
            Nous n'acceptons ni les chèques vacances, ni les tickets restaurants.
            <span class="d-block">Merci de faire l'appoint, nous ne sommes pas boulanger.</span>
            <span class="d-block">Voilà, c'est tout.</span>
        </p>
    </div>
    <div class="card shadow bg-light text-secondary p-3 mt-3">
        <h4 class="fw-bold">
            Organisation de séminaire de fin de formation
        </h4>
        <p class="mt-3">
            Afin de faciliter l'organisation d'évènements, nous vous demandons de nous contacter au moins
            la veille. 
            <span class="d-block">De plus, les Wilder bénificient d'un week-end de séminaire offert pour fêter
            la fin de leurs formations.</span>
        </p>
    </div>
    <div class="card shadow bg-light text-secondary p-3 mt-3">
        <h4 class="fw-bold">
            Petit mots des propriétaires
        </h4>
        <iframe class="mt-3" width="560" height="315" src="https://www.youtube.com/embed/_72XONFYdp0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
    </div>
{% endblock %}