<nav class="navbar bg-red navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<a id ="logo" class="nav-link" href="/">
			<h2 class="text-light p-2 m-2" style="font-family: 'Cinzel Decorative', cursive;"><span class="display-2">W</span>ilder's Paradise</h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-top">
			<div class="row w-100">
				<ul class="navbar-nav w-100 d-flex justify-content-end align-items-middle mx-3 px-4 text-center">
					<li id='nav-element-desktop' class="nav-Explorer col-2 mx-4">
						<a class="nav-link text-secondary fw-bold" style="font-size: x-large;" href="{{ path('house') }}">Découvrir les lieux</a>
					</li>
					<li id='nav-element-desktop' class="nav-Explorer col-2 mx-4">
						<a class="nav-link text-secondary fw-bold" style="font-size: x-large;" href="{{ path('info') }}">Informations utiles</a>
					</li>
					<li id='nav-element-desktop' class="nav-Explorer col-2 mx-4">
						<a class="nav-link text-secondary fw-bold" style="font-size: x-large;" href="{{ path('booking_new') }}">Réservation</a>
					</li>
					<li id='nav-element-desktop' class="nav-Explorer col-3 mx-1">
						<a type="button" href="{{ path('user_new') }}" class="btn btn-secondary btn-lg mx-4 border border-style-solid border-color-white fw-bold">Inscription / Connexion</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
