<nav class="navbar bg-none navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a id ="logo" class="nav-link" href="/">
			<h2 class="text-primary p-2 m-0">Refund <span class="text-light">Me</span></h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-top">
			<div class="row w-100">
				<ul class="navbar-nav w-100 d-flex justify-content-end align-items-middle mx-3 px-4 text-right">
					<li id='nav-element-desktop' class="nav-Explorer col-2 mx-4">
						<a class="nav-link text-white" href="#home">Accueil</a>
					</li>
					<li id='nav-element-desktop' class="nav-Explorer col-2 mx-4">
						<a class="nav-link text-white" href="#function">Fonctionnement</a>
					</li>
					<li id='nav-element-desktop' class="nav-Explorer col-2 mx-4">
						<a class="nav-link text-white" href="#advantage">Avantages</a>
					</li>
					<li id='nav-element-desktop' class="nav-Explorer col-2 mx-4">
						<a type="button" href="{{ path('inscription_user') }}" class="btn btn-primary btn-lg mx-4 offset-5 border border-style-solid border-color-white">Inscription</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
