{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center pt-3">
        <button class="btn btn-secondary btn-lg  border mx-2">{{ button_label|default('Créer') }}</button>
        <a class="btn btn-secondary btn-lg border mx-2" href="/">Retour</a>
    </div>
{{ form_end(form) }}
