{% extends '_layoutUser.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block content %}
    <h1 class="my-4 h1 text-center text-secondary">
        Créer un compte
    </h1>
    <div class="card bg-secondary text-light text-center border p-4">
        {{ include('user/_form.html.twig') }}
    </div>
{% endblock %}
